<!-- Begin Page Content -->
<div class="container-fluid">
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Thống Kê</h1>

	</div>

	<!-- Content Row -->
	<div class="row">

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-primary text-uppercase mb-1">
								Earnings (Monthly)</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-calendar fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-success text-uppercase mb-1">
								Earnings (Annual)</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
							</div>
							<div class="row no-gutters align-items-center">
								<div class="col-auto">
									<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
								</div>
								<div class="col">
									<div class="progress progress-sm mr-2">
										<div class="progress-bar bg-info" role="progressbar"
											style="width: 50%" aria-valuenow="50" aria-valuemin="0"
											aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Pending Requests Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-warning text-uppercase mb-1">
								Pending Requests</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-comments fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<hr> 
	<div class="align-items-center justify-content-between mb-4 text-center">
		<h1 class="h3 mb-0 text-gray-800">Xác Nhận Lịch Hẹn</h1>		
	</div>
	<div ng-include="'/admin/templates/booking/bookingcheck.html'"></div>
	<hr>
	
	<div class="align-items-center justify-content-between mb-4 text-center">
		<h1 class="h3 mb-0 text-gray-800">Quản Lý Lịch Hẹn</h1>
	</div>
	<div ng-include="'/admin/templates/booking/index.html'"></div>

</div>

<!-- Scroll to Top Button -->
<a class="scroll-to-top rounded" href="#page-top"> <i
	class="fas fa-angle-up"></i>
</a>

<!-- InfoCheckModal-->
	<div id="InfoCheckModal"class="modal fade" id="infoModal" tabindex="-1" role="dialog"
		 aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="m-0 font-weight-bold text-primary">Chỉnh sửa chi
						tiết</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body p-5">

					<div class="row form-group">
						<div class="col-md-12">
							<label class="text-black" for="fname">Họ Tên</label><input
								type="text" id="fname" class="form-control" ng-model="form2.customer.fullName"
								placeholder="Họ Tên..." readonly>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-6 mb-3 mb-md-0">
							<label class="text-black" for="email">Email</label> <input
								type="email" id="email" class="form-control" placeholder="Email" ng-model="form2.customer.email"
								readonly>
						</div>
						<div class="col-md-6">
							<label class="text-black" for="lname">Số Điện Thoại </label> <input
								type="text" id="lname" class="form-control" ng-model="form2.customer.phone"
								placeholder="Số Điện Thoại..." readonly>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-6 mb-3 mb-md-0">
							<label class="text-black" for="date">Ngày Làm Tóc <span
									class="text-danger">(*)</span></label> <input ng-model="form2.createDate"
								type="date" id="date" class="form-control datepicker px-2"
								placeholder="Ngày Làm Tóc...">
						</div>
						<div class="col-md-6">
							<label class="text-black" for="time">Khung Giờ Làm Tóc <span
									class="text-danger">(*)</span></label> <input ng-model="form2.time"
								type="time" id="time" class="form-control datepicker px-2"
								placeholder="Khung Giờ Làm Tóc...">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label class="text-black" for="treatment">Chọn Dịch Vụ <span
									class="text-danger">(*)</span></label>
							<ul class="services-form">
								<li ng-repeat="services in db.services"><input type="checkbox"
								    id="{{services.id}}"
								  ng-checked="showBookingWating(form2.id,services.id)>=0"/>
									<label for="{{services.id}}"> <img src="/images/haircut/2.jpg" />
									<br> {{services.serviceName}}<br>
										{{form2.id}}
								</label></li>
							</ul>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<h5 class="text-black">
								Tổng Thời Gian: <span class="text-info">{{form2.totalTime}}</span>
							</h5>
							<h4 class="text-black">
								Tổng Tiền: <span class="text-warning">{{form2.totalPrice}} VNĐ</span>
							</h4>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label class="text-black" for="stylist">Chọn Stylist <span class="text-danger">(*)</span></label>
							<select class="form-control" id="stylist"
									ng-model="form2.employee1.fullName"
									ng-options="x for x in employee1">
							</select>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label class="text-black" for="note">Ghi Chú</label>
							<textarea name="note" id="note" cols="30" rows="5" ng-model="form2.note"
									  class="form-control" placeholder="Để lại ghi chú tại đây..."></textarea>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<!--
                                <input type="submit" value="Lưu"
                                    class="btn btn-primary py-2 px-4 text-white"> -->
							<button type="button" class="btn btn-success" data-dismiss="modal">Xác Nhận</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


