<div class="row">

	<div class="col-xl-2 col-lg-3">
		<div class="card border-left-primary shadow  py-2">
			<div class="card-body">
				<div class=" no-gutters align-items-center">
					<div
						class="text-xs font-weight-bold text-primary text-uppercase mb-1">
						Tìm kiếm</div>
					<div class="h5 mb-0 font-weight-bold text-gray-800">
						<input type="text" ng-model="searchText"
							class="form-control bg-light border-0 small"
							placeholder="Tìm kiếm..." aria-label="Search">
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="card border-left-primary shadow  py-2">
			<div class="card-body">
				<div class=" no-gutters align-items-center">
					<div
						class="text-xs font-weight-bold text-primary text-uppercase mb-1">
						Số bản ghi</div>
					<div class="h5 mb-0 font-weight-bold text-gray-800">
						<select name="cars" class="custom-select">
							<option selected>10</option>
							<option value="volvo">20</option>
							<option value="audi">30</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<br>
	</div>

	<div class="col-xl-10 col-lg-9">
		<div class="card shadow border-left-info mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-info">Danh sách khách hàng</h6>
			</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable">
						<thead>
							<tr>
								<th>Tên khách hàng</th>
								<th>Email</th>
								<th>SĐT</th>

								<th class="text-center">Chi tiết</th>
								<th class="text-center">Tặng Voucher</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in pager.items | filter:searchText">
								<td>{{item.fullName}}</td>
								<td>{{item.email}}</td>
								<td>{{item.phone}}</td>
								
								<td class="text-center"><a ng-click="edit(item)"
									class="btn btn-info btn-circle"> <i
										class="fas fa-info-circle"></i>
								</a></td>
								
								<td class="text-center"><a 
									ng-click="edit(item)"	href="#!customers"
									data-toggle="modal" data-target="#GiftVoucherModal"
									class="btn btn-secondary btn-circle"> <i
										class="fas fa-gift"></i>
								</a></td>
							</tr>

						</tbody>
					</table>
					<div class="text-center">


						<a ng-click="pager.first()" class="btn btn-info btn-circle"> <i
							class="fas fa-angle-double-left"></i>
						</a> <a ng-click="pager.prev()" class="btn btn-info btn-circle"> <i
							class="fas fa-angle-left"></i>
						</a>

						<button class="btn btn-info" disabled="disabled">{{pager.page
							+ 1}} of {{pager.count}}</button>

						<a ng-click="pager.next()" class="btn btn-info btn-circle"> <i
							class="fas fa-angle-right"></i>
						</a> <a ng-click="pager.last()" class="btn btn-info btn-circle"> <i
							class="	fas fa-angle-double-right"></i>
						</a>


					</div>
				</div>
			</div>
		</div>


	</div>
</div>

