<div class="site-section"
	style="background-image: url('/images/background-booking.jpg'); background-size: cover;">
	<br>
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-7">
				<h2
					class="site-section-heading font-weight-light text-black text-center">Đặt
					Lịch</h2>
				<br>
				<p align="center" class="text-white">Nhấn vào ảnh Stylist để
					tiến hành đặt lịch!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-4 mb-5 mb-lg-5" th:each="sty,state:${stylist}" th:attr="ng-value=@{|Stylist.addSty(${sty.id})|}">
				<div class=" p-4 p-lg-5 site-block-feature-7" align="center" th:attr="ng-click=@{|styId(${sty.id})|}"
					 style="border-radius: 100%; box-shadow: 1px 1px 4px 4px #F1F3CE; background-image: linear-gradient(to top, rgba(255, 0, 0, 0), #D0E1F9);">
					<input ng-model = "form.StylistId" hidden="true" th:attr="ng-value=${sty.id}" />
					<img alt="" th:src="@{|/images/${sty.image}|}" style="cursor: pointer;"
						class="icon display-3 mb-4 d-block rounded-circle" width="50%"
						data-toggle="modal" data-target="#myModal">
					<h3 class="text-black h3">[[${sty.fullName}]]</h3>
					<p>
						<strong class="font-weight-bold text-light">time</strong>
					</p>
				</div>
			</div>


		</div>
	</div>
</div>