<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Chi Tiết Voucher!</h1>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="name">Mã Voucher
                                <span class="text-danger">(*)</span>
                            </label>
                            <input ng-model="form.id" type="text" class="form-control" id="name" placeholder="Tên voucher..." >
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="price">Giá Khuyến Mãi
                                <span class="text-danger">(*)</span>
                            </label>
                            <input ng-model="form.price" type="number" class="form-control " id="price" placeholder="Nhập Giá Khuyến Mãi...">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="condition">Điều kiện hoá đơn
                                <span class="text-danger">(*)</span></label>
                            <input ng-model="form.condition" type="number" class="form-control " id="condition"  placeholder="Nhập Điều Kiền...">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="form-label" for="name">Mô Tả</label>
                                        <textarea ng-model="form.note" class="form-control " rows="" cols=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="text-right">
                            <a ng-click="reset()" class="btn btn-primary  "> Reset </a>
                            <a ng-click="create()" class="btn btn-success  "> Create </a>
                            <a ng-click="update()" class="btn btn-warning  "> Update </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>