<div class="card shadow border-left-success mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-success">Danh Sách Hoàn
			Thành</h6>
	</div>
	<div class="card-body">
		<div class="form-group">
			<div class="d-none d-sm-inline-block">
				<input type="text" ng-model="searchText"
								 class="form-control bg-light border-0 small" placeholder="Tìm kiếm..."
								 aria-label="Search">
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered text-center" id="dataTable">
				<thead >
				<tr>
					<th>Customer</th>
					<th>Stylist</th>
					<th>Total Time</th>
					<th>Total Price</th>
					<th>Create Date</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="item in pager1.items1 | filter:searchText" >
					<td>{{item.customer.fullName}}</td>
					<td>{{item.employee1.fullName}}</td>
					<td>{{item.totalTime}}</td>
					<td>{{item.totalPrice}}</td>
					<td>{{item.createDate}}</td>
					<td>{{item.statusbooking.statusName}}</td>
					<td align="center"><a href="#!booking"
										  class="btn btn-success" data-toggle="modal"
										  data-target="#confirmModal"> Thanh Toán
					</a></td>
				</tr>
				</tbody>
			</table>
			<div class="d-none d-sm-inline-block form-inline">
				<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
					Page Size</div>
				<select
						name="sizePage"
						class="custom-select"
						ng-model="pager1.size"
						ng-change="pager1.setPage()"
						ng-options="x for x in sizePage">
				</select>
			</div>
			<div class="text-center">
				<a ng-click="pager1.first()" href="#!booking" class="btn btn-primary btn-circle"> <i
						class="fas fa-angle-double-left"></i>
				</a> <a ng-click="pager1.prev()" href="#!booking" class="btn btn-primary btn-circle"> <i
					class="fas fa-angle-left"></i>
			</a>
				<button class="btn btn-primary" disabled="disabled">{{pager.page + 1}} of {{pager.count}}</button>
				<a ng-click="pager1.next()"  href="#!booking" class="btn btn-primary btn-circle"> <i
						class="fas fa-angle-right"></i>
				</a> <a ng-click="pager1.last()" href="#!booking" class="btn btn-primary btn-circle"> <i
					class="	fas fa-angle-double-right"></i>
			</a>
			</div>
		</div>
	</div>
</div>
</div>

<!-- confirmModal-->
<div class="modal" id="confirmModal">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="m-0 font-weight-bold text-primary">Thanh Toán Hoá Đơn</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body p-5">
					<div class="row form-group">
						<div class="col-md-12">
							<label class="text-black" for="fname">Họ Tên Khách Hàng</label><input
								type="text" id="fname" class="form-control"
								placeholder="Họ Tên..." readonly>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-6 mb-3 mb-md-0">
							<label class="text-black" for="email">Email</label> <input
								type="email" id="email" class="form-control" placeholder="Email"
								readonly>
						</div>
						<div class="col-md-6">
							<label class="text-black" for="lname">Số Điện Thoại </label> <input
								type="text" id="lname" class="form-control"
								placeholder="Số Điện Thoại..." readonly>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-6 mb-3 mb-md-0">
							<label class="text-black" for="date">Ngày Làm Tóc</label> <input
								type="date" id="date" class="form-control datepicker px-2"
								placeholder="Ngày Làm Tóc..." readonly>
						</div>
						<div class="col-md-6">
							<label class="text-black" for="time">Khung Giờ Làm Tóc</label> <input
								type="time" id="time" class="form-control datepicker px-2"
								placeholder="Ngày Làm Tóc..." readonly>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label class="text-black" for="treatment">Các Dịch Vụ Sử Dụng</label>
							<ul class="services-form">
								<li><input type="checkbox" id="confrimCheckbox1" disabled checked/> <label
									for="onfrimCheckbox1"> <img src="/images/haircut/2.jpg" />
										<br> Service 1
								</label></li>
								<li><input type="checkbox" id="confrimCheckbox2" disabled/> <label
									for="confrimCheckbox2"> <img src="/images/haircut/4.jpg" />
										<br> Service 2
								</label></li>
								<li><input type="checkbox" id="confrimCheckbox3" disabled checked/> <label
									for="confrimCheckbox3"> <img src="/images/haircut/6.jpg" />
										<br> Service 3
								</label></li>
								<li><input type="checkbox" id="confrimCheckbox4" disabled/> <label
									for="confrimCheckbox4"> <img src="/images/haircut/8.jpg" />
										<br> Service 4
								</label></li>
								<li><input type="checkbox" id="confrimCheckbox5" disabled/> <label
									for="confrimCheckbox5"> <img src="/images/haircut/10.jpg" />
										<br> Service 5
								</label></li>
							</ul>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label class="text-black" for="stylist">Stylist</label> <input
								type="text" id="stylist" class="form-control datepicker px-2"
								placeholder="Stylist..." readonly>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label class="text-black" for="note">Ghi Chú</label>
							<textarea name="note" id="note" cols="30" rows="5"
								class="form-control" placeholder="Để lại ghi chú tại đây..."></textarea>
						</div>
					</div>
					<hr>

					<div class="row form-group">
						<div class="col-md-12">
							<label class="text-black" for="treatment">Chọn Đánh Giá <span
									class="text-danger">(*)</span></label>
								<ul class="status-form text-center" >
									<li><input type="radio" name="name" id="one"  /> <label
										for="one" class="btn btn-danger btn-circle btn-lg"> <span
											class="icon"> <i class="fas fa-angry"></i>
										</span>
									</label> <br> Không Hài Lòng</li>
	
									<li><input type="radio" name="name" id="two" checked/> <label
										for="two" class="btn btn-primary btn-circle btn-lg"> <span
											class="icon"> <i class="fas fa-smile"></i>
										</span>
									</label> <br> Bình Thường</li>
									<li><input type="radio" name="name" id="three" /> <label
										for="three" class="btn btn-success btn-circle btn-lg">
											<span class="icon"> <i class="fas fa-grin-stars"></i>
										</span>
									</label> <br> Hài Lòng</li>
								</ul>
							
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-6">
							<label class="text-black" for="voucher">Voucher</label> 
							<select class="form-control" id="voucher">
								<option disabled selected>Hãy Chọn 1 Voucher</option>
							    <option>1</option>
							    <option>2</option>
							    <option>3</option>
							    <option>4</option>
							</select>
						</div>
						<div class="col-md-6 text-center">
							<h5 class="text-black" >Tổng Thời Gian: <br> <span class="text-info">40 phút</span></h5>
							<h4 class="text-black" >Tổng Tiền: <br> <span class="text-warning">100,000 VNĐ</span></h4>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12" align="right">
						<!-- 
							<input type="submit" value="Thanh Toán"
								class="btn btn-success py-2 px-4 text-white"> -->
								<button type="button" class="btn btn-success" data-dismiss="modal">Thanh Toán</button>
						</div>
					</div>

			</div>
		</div>
	</div>
</div>
