<div class="card shadow border-bottom-info mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-info">Stylist Đang Hoạt Động</h6>
	</div>


	<div class="card-body">
		<div class="row" >
			<div class="col-xl-3 col-md-6 mb-4" ng-repeat="item in items">
				<div class="card border-left-success shadow h-100" >
					<div class="card-header">
						<div class="dropdown no-arrow" align="right">
                             <a href="#!booking" data-toggle="modal" data-target="#BookingEditModal">
                                 <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                             </a>
                         </div>
					</div>
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-primary text-uppercase mb-1">
									{{item.customer.fullName}}</div>
								<div ng-click="targetDate1(item.totalTime)" class="h5 mb-0 font-weight-bold text-gray-800" ng-model="demo">{{demo}}</div>
							</div>
							<div class="col-auto">
								<a href="#!booking" data-toggle="modal" data-target="#StylistModal"> 
									<i class="fas fa-calendar-plus fa-2x text-gray-300"></i>
								</a> 
								<a href="#!booking"> 
									<i class="fas fa-check-circle fa-2x text-gray-300"></i>
								</a>
							</div>
						</div> 
					</div>
				</div>
			</div>

		</div>
	</div>


	<!-- Stylist Modal-->
	<div class="modal fade" id="StylistModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Thêm Việc Làm</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<a href="#!booking" class="btn btn-info btn-block"><i
						class="fas fa-user-tie"></i> Tên Khách Hàng</a> <a href="#!booking"
						class="btn btn-info btn-block"><i class="fas fa-user-tie"></i>
						Tên Khách Hàng</a> <a href="#!booking" class="btn btn-info btn-block"><i
						class="fas fa-user-tie"></i> Tên Khách Hàng</a> <a href="#!booking"
						class="btn btn-info btn-block"><i class="fas fa-user-tie"></i>
						Tên Khách Hàng</a>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- The Modal BookingEdit -->
	<div class="modal" id="BookingEditModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="m-0 font-weight-bold text-primary">Chỉnh sửa chi tiết</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body p-5">
						
						<div class="row form-group">
							<div class="col-md-12">
								<label class="text-black" for="fname">Họ Tên</label><input
									type="text" id="fname" class="form-control"
									placeholder="Họ Tên..." readonly>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-6 mb-3 mb-md-0">
								<label class="text-black" for="email">Email</label> <input
									type="email" id="email" class="form-control"
									placeholder="Email" readonly>
							</div>
							<div class="col-md-6">
								<label class="text-black" for="lname">Số Điện Thoại </label> <input
									type="text" id="lname" class="form-control"
									placeholder="Số Điện Thoại..." readonly>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-6 mb-3 mb-md-0">
								<label class="text-black" for="date">Ngày Làm Tóc</label> <input
									type="date" id="date" class="form-control datepicker px-2"
									placeholder="Ngày Làm Tóc..." readonly>
							</div>
							<div class="col-md-6">
								<label class="text-black" for="time">Khung Giờ Làm Tóc</label> <input
									type="time" id="time" class="form-control datepicker px-2"
									placeholder="Khung Giờ Làm Tóc..." readonly>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label class="text-black" for="treatment">Chọn Dịch Vụ <span class="text-danger">(*)</span></label>
								<ul class="services-form">
									<li><input type="checkbox" id="myCheckbox1" /> <label
										for="myCheckbox1"> <img src="/images/haircut/2.jpg" />
											<br> Service 1
									</label></li>
									<li><input type="checkbox" id="myCheckbox2" checked/> <label
										for="myCheckbox2"> <img src="/images/haircut/4.jpg" />
											<br> Service 2
									</label></li>
									<li><input type="checkbox" id="myCheckbox3" /> <label
										for="myCheckbox3"> <img src="/images/haircut/6.jpg" />
											<br> Service 3
									</label></li>
									<li><input type="checkbox" id="myCheckbox4" /> <label
										for="myCheckbox4"> <img src="/images/haircut/8.jpg" />
											<br> Service 4
									</label></li>
									<li><input type="checkbox" id="myCheckbox5" /> <label
										for="myCheckbox5"> <img src="/images/haircut/10.jpg" />
											<br> Service 5
									</label></li>
								</ul>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-12">
								<h5 class="text-black" >Tổng Thời Gian: <span class="text-info">40 phút</span></h5>
								<h4 class="text-black" >Tổng Tiền: <span class="text-warning">100,000 VNĐ</span></h4>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-12">
								<label class="text-black" for="stylist">Stylist</label> 
								<input
									type="text" id="stylist" class="form-control datepicker px-2"
									placeholder="Stylist..." readonly>
							</div>
						</div>
						
						<div class="row form-group">
							<div class="col-md-12">
								<label class="text-black" for="note">Ghi Chú</label>
								<textarea name="note" id="note" cols="30" rows="5"
									class="form-control" placeholder="Để lại ghi chú tại đây..."></textarea>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<input type="submit" value="Lưu"
									class="btn btn-primary py-2 px-4 text-white">
							</div>
						</div>

				</div>
			</div>
		</div>
	</div>