<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>

<link href="/css/login.css"
	rel="stylesheet" type="text/css">
</head>
<body>
	<div class="wrapper fadeInDown">
  <div id="formContent">
    
    <!-- Icon -->
    <div class="fadeIn first">
    	<br>
      <img src="/images/email_logo.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="Nhập email *">
      <a href="/login">
			<input type="button"class="fadeIn fourth" value="Gửi">
		</a>
    </form>

  </div>
</div>
</body>
</html>