<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>

<link href="/css/login.css"
	rel="stylesheet" type="text/css">
</head>
<body>
	<div class="wrapper fadeInDown">
  <div id="formContent">
  
  	
    <!-- Icon -->
    <div class="fadeIn first">
    	<br>
      <img src="/images/navbar-logo.png" id="icon" alt="User Icon" />
    </div>
    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover">
    	<a href="/login">Nhập email</a>
    </h2>
    <h2 class="active">Nhập mật khẩu</h2>

    <!-- Login Form -->
    <form>
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Nhập mật khẩu">
      <a href="/">
			<input type="button"class="fadeIn fourth" value="Đăng Nhập">
		</a>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="fogotpassword">Forgot Password?</a>
    </div>

  </div>
</div>
</body>
</html>