<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>

<link href="/css/login.css"
	rel="stylesheet" type="text/css">
</head>
<body>
	<div class="wrapper fadeInDown">
  <div id="formContent">
  	
    <!-- Icon -->
    <div class="fadeIn first">
    	<br>
      <img src="/images/navbar-logo.png" id="icon" alt="User Icon" />
    </div>
    
    <!-- Tabs Titles -->
    <h2 class="active"> Nhập email </h2>
    <h2 class="inactive underlineHover"><a href="#"> Nhập mật khẩu</a></h2>


    <!-- Login Form -->
    <form>
      <input type="email" id="login" class="fadeIn second" name="login" placeholder="Nhập Email...">
      <a href="/login2">
			<input type="button"class="fadeIn fourth" value="Tiếp tục">
		</a>
    </form>

  </div>
</div>
</body>
</html>